######################################################################
# Undock Sled
######################################################################
[gcode_macro G32]
description: Undock Sled. This macro will Undock the Z probe sled.
gcode:
  SAVE_GCODE_STATE NAME=STATE_G32
  G90
  G28
  QUAD_GANTRY_LEVEL
  G28 Z
  SMART_PARK
  RESTORE_GCODE_STATE NAME=STATE_G32

