# 3D Print Manager — Moonraker push component
# This file is auto-included by the install script.
# Edit server_url and plugin_token below, then restart Moonraker.

[3dpm_push]
server_url: https://3dprintmanager.alrocha.us
plugin_token: pfm_71ffa16b34b2053bb5b66c2f830d48a8
#push_interval: 10
#snapshot_enabled: true
#snapshot_interval: 30
snapshot_camera: Bottom Right
#file_delivery_enabled: true

[update_manager 3dpm-klipper]
type: git_repo
primary_branch: main
origin: https://gitea.alrocha.us/3dprintmanager/3dpm-klipper.git
path: ~/3dpm-klipper
managed_services: moonraker
is_system_service: false
