[BDsensor]
sda_pin: toolhead:PB8
scl_pin: toolhead:PB9
delay: 10              # you can set it 10 if the BDsensor version is >=1.2
z_offset: -0.128       # within -0.6 to 0.6mm (negative movez nozzle up)
x_offset: 0.0
y_offset: 20.5
no_stop_probe:         # fast probe that the toolhead will not stop at the probe point,disable it by commenting out.
position_endstop: 1.0  # the triggered position, recommend value is 1~2.8
collision_homing: 1    # set it 1 to enable homing with nozzle collision sensing.
collision_calibrate: 1 # set it 1 to enable auto calibrate BDsensor with nozzle collision sensing.
#QGL_Tilt_Probe: 0     # set 1 to enable probe up and down when do quad_gantry_level
speed: 3.0             # this speed only works for the z tilt and PROBE_ACCURACY command.
homing_cmd: G28        # needed by the auto calibration.the default is G28, please set it G990028 if there has [gcode_macro G28]

#####################################################################
#   Custom QUAD_GANTRY_LEVEL
#####################################################################
[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: _QUAD_GANTRY_LEVEL
description:
gcode:
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=qgling VALUE=True
  #run z tilt with z move up and down at first
  BDSENSOR_SET QGL_TILT_PROBE=1 #set this 1 to enable z axis up and down
  BDSENSOR_SET COLLISION_HOMING=0
  _QUAD_GANTRY_LEVEL horizontal_move_z=6 retry_tolerance=1
  G28 Z0
  #run z tilt with no z move up and down
  BDSENSOR_SET QGL_TILT_PROBE=0 #set this 0 to disable z axis up and down while probe
  _QUAD_GANTRY_LEVEL horizontal_move_z=1 retry_tolerance=0.04
  BDSENSOR_SET COLLISION_HOMING=1 #optional
  G28 Z0
  SET_GCODE_VARIABLE MACRO=_KNOMI_STATUS VARIABLE=qgling VALUE=False
