[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: toolhead
i2c_bus: i2c3_PB3_PB4
x_offset: 0.0
y_offset: 21.42
;tap_start_z: 2.55
# The Z position at which to start a tap-home operation. This height will
# need to be fine-tuned to ensure that the sensor can provide readings
# across the entire tap range (i.e. from this value down to tap_target_z),
# which in turn will depend on the tap_drive_current. When the
# tap_drive_current is increased, the sensor may not be able to read
# values at higher heights.
;tap_mode: butter
# How to compute the tap. Options are wma (default) or butter. wma uses a
# moving average derivative, butter uses a Butterworth filter which will
# be more accurate and less sensitive to noise.
;tap_threshold: 250
# The threshold at which to detect a tap. This value is sensor and tap
# mode specific. For wma, the default is 1000. For butter, the default is 250.
;tap_adjust_z: 0.12
# A constant additional amount to add to the computed tap Z offset.
# Use this if the computed tap is a bit too high or too low for your taste.
# Positive values will raise the toolhead, negative values will lower it.

[bed_mesh]
horizontal_move_z: 2
speed: 250
mesh_min: 15, 21.42
mesh_max: 205, 198.58
probe_count: 7, 7
algorithm: bicubic
scan_overshoot: 8

[safe_z_home]
home_xy_position: 110, 88.58
z_hop: 10
z_hop_speed: 25
speed: 200

# [homing_override]
# axes: z
# gcode:
#   G28 X Y
#   G0 X110 Y88.58
#   G28 Z                               # do the coarse home
#   G90                                 # set absolute positioning
#   G0 Z2 F1000                         # to 2mm -- home height (or whatever you'd like), for maximum sensor accuracy
#   G4 S1                               # chill for a sec
#   M400                                # wait for move to finish
#   PROBE_EDDY_NG_PROBE_STATIC HOME_Z=1 # read the current exact height from sensor and home Z to it
#   G0 Z5 F1000                         # to 5mm as home

#This macro is optional but useful if you want to run a rapid scan before each print. Simply uncomment it and add BED_MESH_SCAN to your print start code.
[gcode_macro BED_MESH_CALIBRATE]
rename_existing: NG_BED_MESH_CALIBRATE
gcode:
  NG_BED_MESH_CALIBRATE METHOD=rapid_scan
