[probe_eddy_ng btt_eddy]
sensor_type: btt_eddy
i2c_mcu: toolhead
i2c_bus: i2c3_PB3_PB4
x_offset: 0.0
y_offset: 21.42
tap_adjust_z: 0.06
# A constant additional amount to add to the computed tap Z offset. Use this if the computed tap
# is a bit too high or too low for your taste. Positive values will raise the toolhead, negative
# values will lower it.

[bed_mesh]
horizontal_move_z: 2
speed: 200
mesh_min: 15, 21.42
mesh_max: 205, 205
probe_count: 21, 21
algorithm: bicubic
scan_overshoot: 8

[safe_z_home]
home_xy_position: 110, 110
z_hop: 10
z_hop_speed: 25
speed: 200

#This macro is optional but useful if you want to run a rapid scan before each print. Simply uncomment it and add BED_MESH_SCAN to your print start code.
[gcode_macro BED_MESH_CALIBRATE]
rename_existing: NG_BED_MESH_CALIBRATE
gcode:
  NG_BED_MESH_CALIBRATE METHOD=rapid_scan
