########################################
# Filament runout switch sensor
########################################
[filament_switch_sensor runout_sensor]
# pause_on_runout: False
# runout_gcode:
#     ;M600
#     M117 Out of Filament
# insert_gcode:
#     M117 Resuming...
#     ;RESUME_MACRO
# event_delay: 3.0
# pause_delay: 0.5
# switch_pin: ^PA2
switch_pin: ^PA2
pause_on_runout: True
runout_gcode:
    M117 Runout Detected
    G91 ; relative positioning
    G1 E-2 F2700
    G1 Z10
    G90 ; absolute positioning
    G1 X50 Y50 F3000
    G91
    G1 E-100 F1000 ;  retract 100mm of filament
insert_gcode:
    M117 Insert Detected
    G92 E0 ; Reset Extruder
    G1 E50 F600 ; move filament down 50mm quickly
    G1 E150 F300 ; extrude 100m of filament slowly to get it through nozzle and purge
event_delay: 3.0
pause_delay: 0.5