##  Mainsail required import
[include client_variables.cfg]
[include mainsail.cfg]
[include timelapse.cfg]

##  Hardware settings
[include toolhead.cfg]
[include Orbiter2_SmartSensor.cfg]
[include rpi.cfg]
[include dragonburner_leds.cfg]
[include nevermore.cfg]

##  Custom configurations
[include macros/*.cfg]
[include autotune_tmc.cfg]
[include KAMP_Settings.cfg]

# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v3.0. To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication/USART.

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

# See docs/Config_Reference.md for a description of parameters.

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_17004D001950425938323120-if00
restart_method: command

[printer]
kinematics: corexz
max_velocity: 300
max_accel: 3000
max_z_velocity: 50
max_z_accel: 1000
square_corner_velocity: 4.0

[static_digital_output usb_pullup_enable]
pins: !PC13

##  Orca Slicer must have config:
##  Enable arcs support
[gcode_arcs]
resolution: 0.1

#  Enables support to exclude or cancel individual objects during the printing process.
[exclude_object]

#####################################################################
#   Accelerometer and Input Shapping
#####################################################################

[resonance_tester]
# Assuming the typical setup of the bed slinger printer
accel_chip_x: adxl345 hotend
accel_chip_y: adxl345 bed
probe_points:  
  110, 110, 20

[input_shaper]
shaper_freq_x: 57.4
shaper_type_x: mzv
shaper_freq_y: 40.0
shaper_type_y: mzv

#####################################################################
#   X Stepper Settings
#####################################################################

######
# Motor -XM
# Endstop - X-STOP
###############
[stepper_x]
step_pin: PB13
dir_pin: PB12
enable_pin: !PB14
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: ^toolhead:PB5
position_endstop: 220
position_min: 0
position_max: 220
homing_speed: 55
homing_positive_dir: True

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.58
hold_current: 0.12
# Recommended by Klipper TMC Autotune
interpolate: True
;stealthchop_threshold: 0

#####################################################################
#   Y Stepper Settings
#####################################################################

######
# Motor -YM
# Endstop - Y-STOP
###############
[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
## Ucomment one of the following:
## Switch-based endstop for Y
endstop_pin: ^PC1 
## Sensorless endstop for Y
#endstop_pin: tmc2209_stepper_y:virtual_endstop
#homing_retract_dist: 0 # Uncomment this line too
position_endstop: 0
position_min: 0
position_max: 220
homing_speed: 55
homing_positive_dir: False

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.58
hold_current: 0.12
# Recommended by Klipper TMC Autotune
interpolate: True
;stealthchop_threshold: 0
## Uncomment if using sensorless Y homing.
#driver_SGTHRS: 120 # tune this once it's working.

#####################################################################
#   Z Stepper Settings
#####################################################################

######
# Motor -ZAM
# Endstop - Z-STOP
###############
[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
rotation_distance: 40
full_steps_per_rotation: 200
microsteps: 32
endstop_pin: probe:z_virtual_endstop
position_max: 215
homing_speed: 15
position_min: -3

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.58
hold_current: 0.12
# Recommended by Klipper TMC Autotune
interpolate: True
;stealthchop_threshold: 0

#####################################################################
# 	Bed Heater
#####################################################################

######
# BED Connector
###############
[heater_bed]
heater_pin: PC9
##  Validate the following thermistor type to make sure it is correct
##  See https://www.klipper3d.org/Config_Reference.html#common-thermistors for additional options
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC4
min_temp: 0
max_temp: 130
#control: pid
#pid_Kp: 72.291
#pid_Ki: 1.381
#pid_Kd: 946.110

#####################################################################
# 	Fan Control
#####################################################################

######
# Electronics Fan
# FAN1 Connector
###############
[controller_fan controller_fan]
pin: PC7 
max_power: 1.00
kick_start_time: 0.200
heater: heater_bed
fan_speed: 0.60

#####################################################################
#   Temperature control
#####################################################################

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 100

[temperature_sensor main_mcu]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 100

[temperature_sensor chamber]
sensor_pin: PA0
sensor_type: ATC Semitec 104NT-4-R025H42G
min_temp: 0
max_temp: 100

#####################################################################
#   Homing and Bed Mesh
#####################################################################
[include eddy.cfg]

[screws_tilt_adjust]
screw1: 29, 2
screw1_name: Front left
screw2: 195, 2
screw2_name: Front right
screw3: 195, 182
screw3_name: Back right
screw4: 29, 182
screw4_name: Back left
screw_thread: CW-M4
horizontal_move_z: 20
speed: 50

#####################################################################
# 	Displays
#####################################################################
## 	For the mini12864 Display, the [display] and [neopixel] must be uncommented
# mini12864 LCD Display
# connected to exp1/2
#[display]
##    mini12864 LCD Display
#lcd_type: uc1701
#cs_pin: PB8
#a0_pin: PD6
#rst_pin: PB9
#encoder_pins: ^PA9, ^PA10
#click_pin: ^!PB5
#contrast: 63
#spi_software_sclk_pin: PA5
#spi_software_miso_pin: PA6
#spi_software_mosi_pin: PA7
#menu_reverse_navigation: True

#[neopixel fysetc_mini12864]
##	To control Neopixel RGB in mini12864 display
## Remember with these ones, you'll need to remove the connector header on the LCD for EXT1 + 2
## (it slides off) and reverse it for it to work on your SKR (1.3 and 1.4) board
#pin: PA15
#chain_count: 3
#initial_RED: 1
#initial_GREEN: 1
#initial_BLUE: 1
#color_order: RGB

##	Set RGB values on boot up for each Neopixel. 
##	Index 1 = display, Index 2 and 3 = Knob
#[delayed_gcode setdisplayneopixel]
#initial_duration: 1
#gcode:
#       SET_LED LED=fysetc_mini12864 RED=1 GREEN=1 BLUE=1 INDEX=1 TRANSMIT=0	# Backlit Screen colour
#       SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=2 TRANSMIT=0	# Top left Knob colour
#       SET_LED LED=fysetc_mini12864 RED=1 GREEN=0 BLUE=0 INDEX=3			# Bottom right knob colour

#####################################################################
#   Case Lights
#####################################################################
[output_pin caselight]
pin: PB15
pwm: True
shutdown_value: 0
value: 0
cycle_time: 0.01
scale: 100

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.354
#*# pid_ki = 2.780
#*# pid_kd = 49.043
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.688
#*# pid_ki = 1.001
#*# pid_kd = 1212.564
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 16
#*# calibrate =
#*# 	0.050000:3330962.645,0.087500:3329205.086,0.131250:3327283.974,
#*# 	0.168750:3325697.000,0.212500:3323984.019,0.250000:3322286.192,
#*# 	0.287500:3320537.762,0.331250:3318636.864,0.368750:3316966.243,
#*# 	0.412500:3315197.035,0.450000:3313603.923,0.487500:3312056.741,
#*# 	0.531250:3310388.137,0.568750:3309079.864,0.612500:3307651.994,
#*# 	0.650000:3306284.176,0.687500:3304818.571,0.731250:3303180.179,
#*# 	0.768750:3301762.759,0.812500:3300194.910,0.850000:3298810.298,
#*# 	0.887500:3297461.743,0.931250:3295967.774,0.968750:3294784.203,
#*# 	1.012500:3293518.027,1.050000:3292244.691,1.087500:3290919.190,
#*# 	1.131250:3289445.579,1.168750:3288168.779,1.212500:3286772.820,
#*# 	1.250000:3285562.495,1.287500:3284295.555,1.331250:3282996.728,
#*# 	1.368750:3281949.545,1.412500:3280829.013,1.450000:3279724.402,
#*# 	1.487500:3278560.558,1.531250:3277305.824,1.568750:3276182.959,
#*# 	1.612500:3274991.686,1.650000:3273916.306,1.687500:3272759.927,
#*# 	1.731250:3271716.101,1.768750:3270840.513,1.812500:3269869.650,
#*# 	1.850000:3268969.642,1.887500:3267990.094,1.931250:3266899.361,
#*# 	1.968750:3265981.768,2.012500:3264960.285,2.050000:3264062.412,
#*# 	2.087500:3263175.373,2.131250:3262214.797,2.168750:3261482.360,
#*# 	2.212500:3260672.783,2.250000:3259897.497,2.287500:3259090.560,
#*# 	2.331250:3258198.024,2.368750:3257408.660,2.412500:3256616.827,
#*# 	2.450000:3255804.915,2.487500:3255059.233,2.531250:3254279.147,
#*# 	2.568750:3253684.494,2.612500:3253035.784,2.650000:3252398.098,
#*# 	2.687500:3251722.464,2.731250:3250976.770,2.768750:3250327.410,
#*# 	2.812500:3249642.164,2.850000:3249018.828,2.887500:3248404.662,
#*# 	2.931250:3247778.527,2.968750:3247290.721,3.012500:3246712.639,
#*# 	3.050000:3246211.758,3.087500:3245639.171,3.131250:3245040.236,
#*# 	3.168750:3244508.382,3.212500:3243914.721,3.250000:3243385.103,
#*# 	3.287500:3242868.472,3.331250:3242352.993,3.368750:3241915.726,
#*# 	3.412500:3241467.536,3.450000:3241027.484,3.487500:3240592.305,
#*# 	3.531250:3240059.145,3.568750:3239639.310,3.612500:3239191.717,
#*# 	3.650000:3238777.574,3.687500:3238357.302,3.731250:3237944.888,
#*# 	3.768750:3237567.558,3.812500:3237171.956,3.850000:3236844.637,
#*# 	3.887500:3236462.722,3.931250:3236034.771,3.968750:3235639.953,
#*# 	4.012500:3235291.311,4.050000:3234899.769
#*#
#*# [bed_mesh 2025-03-09_Hot]
#*# version = 1
#*# points =
#*# 	0.106374, 0.092431, 0.093807, 0.110747, 0.117996, 0.127736, 0.121208, 0.118853, 0.110631
#*# 	0.148142, 0.125171, 0.116498, 0.117886, 0.109959, 0.103455, 0.098967, 0.085287, 0.097404
#*# 	0.127631, 0.091675, 0.080689, 0.088652, 0.094705, 0.111644, 0.106589, 0.105923, 0.090222
#*# 	0.123888, 0.107492, 0.090448, 0.077667, 0.066523, 0.083712, 0.083272, 0.074637, 0.077331
#*# 	0.121313, 0.097513, 0.087535, 0.089580, 0.081471, 0.098967, 0.115101, 0.109182, 0.081807
#*# 	0.106149, 0.093025, 0.080806, 0.082930, 0.072170, 0.070594, 0.077550, 0.064345, 0.066747
#*# 	0.094478, 0.051671, 0.042524, 0.057376, 0.064009, 0.075980, 0.076763, 0.073589, 0.072054
#*# 	0.113071, 0.080695, 0.071279, 0.076768, 0.065757, 0.061607, 0.067320, 0.057257, 0.070704
#*# 	0.131594, 0.070484, 0.063548, 0.069580, 0.075638, 0.085067, 0.096164, 0.086295, 0.077098
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 15.0
#*# max_x = 205.0
#*# min_y = 21.42
#*# max_y = 198.53999999999996
