[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  G92 E0                         ; zero the extruder
  G1 E-5 F600                    ; retract filament
  G91                            ; relative positioning

  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    DOCK_PROBE_UNLOCK
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}

  ;LED_STATUS_RED
  TURN_OFF_HEATERS
  TURN_OFF_FANS
  CLEAR_PAUSE
   
  {% if 'virtual_sdcard' in printer and not printer.virtual_sdcard.is_active %}
    SDCARD_RESET_FILE
  {% endif %}

  M117                           ; Reset message
  M220 S100                      ; Reset feed rate to 100%
  M221 S100                      ; Reset extrusion rate to 100%
  ;SET_PRESSURE_ADVANCE ADVANCE=0 ; Disable Pressure Advance

  CANCEL_PRINT_BASE
  UPDATE_DELAYED_GCODE ID=DISABLE_NEVERMORE DURATION=240
