[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
   LED_STATUS_RED
   TURN_OFF_HEATERS
   TURN_OFF_FANS
   CLEAR_PAUSE
   SDCARD_RESET_FILE

   M220 S100                      ; Reset feed rate to 100%
   M221 S100                      ; Reset extrusion rate to 100%
   ;SET_PRESSURE_ADVANCE ADVANCE=0 ; Disable Pressure Advance

   BASE_CANCEL_PRINT
   UPDATE_DELAYED_GCODE ID=DISABLE_NEVERMORE DURATION=240

