#####################################################################
#   A better print_start macro for v2/trident
#####################################################################
[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed, extruder, and chamber temps and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("45")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
  #{% set tap_target_z = params.TARGET_Z|default("-0.250")|float %}
  #{% set tap_target_z = params.THRESHOLD|default("-0.250")|float %}

  # Home the printer, set absolute positioning and update the Stealthburner LEDs.
  STATUS_HOMING                                         # Set LEDs to homing-mode
  G28                                                   # Full home (XYZ)
  G90                                                   # Absolute position

  #  Uncomment for bed mesh (1 of 2 for bed mesh)
  BED_MESH_CLEAR                                        # Clear old saved bed mesh (if any)

  # Check if the bed temp is higher than 90c - if so then trigger a heatsoak.
  {% if target_bed > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Display info on display
    STATUS_HEATING                                      # Set LEDs to heating-mode
    M106 S64                                            # Turn on the PT-fan

    ##  Uncomment if you have a Nevermore.
    {% if printer["output_pin nevermore"] is defined %}
      SET_FAN_SPEED FAN=nevermore SPEED=0.6             # Turn on the nevermore
    {% endif %}

    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed
    SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Display info on display
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}   # Waits for chamber temp

  # If the bed temp is not over 90c, then skip the heatsoak and just heat up to set temp with a 5 min soak
  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"           # Display info on display
    STATUS_HEATING                                      # Set LEDs to heating-mode
    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Go to center of the bed
    M190 S{target_bed}                                  # Set the target temp for the bed
    ;SET_DISPLAY_TEXT MSG="Soak for 5 min"               # Display info on display
    ;G4 P300000                                          # Wait 5 min for the bedtemp to stabilize
  {% endif %}

  # Heat hotend to 150c. This helps with getting a correct Z-home.
  SET_DISPLAY_TEXT MSG="Hotend: 150c"                   # Display info on display
  M109 S150                                             # Heat hotend to 150c

  #  Uncomment for Eddy-NG Probe Calibration (1 of 3 for eddy-ng)
  #NOZZLE_WIPE RESTORE=1

  #  Uncomment for Eddy-NG Probe Calibration (2 of 3 for eddy-ng)
  PROBE_EDDY_NG_TAP; TARGET_Z=-0.300 THRESHOLD=1000

  #  Uncomment for bed mesh (2 of 2 for bed mesh)
  SET_DISPLAY_TEXT MSG="Bed mesh"                       # Display info on display
  STATUS_MESHING                                        # Set LEDs to bed mesh-mode
  BED_MESH_CALIBRATE METHOD=rapid_scan                  # Start the bed mesh (add METHOD=rapid_scan) for rapid scan

  # Heat up the hotend up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"     # Display info on display
  STATUS_HEATING                                        # Set LEDs to heating-mode
  G1 X{x_wait} Y{y_wait} Z15 F9000                      # Go to center of the bed
  M107                                                  # Turn off partcooling fan
  M109 S{target_extruder}                               # Heat the hotend to set temp

  #  Uncomment for Eddy-NG Probe Calibration (3 of 3 for eddy-ng) (optional)
  #NOZZLE_WIPE

  # Get ready to print by doing a primeline and updating the LEDs
  SET_DISPLAY_TEXT MSG="Printer goes brr"               # Display info on display
  STATUS_PRINTING                                       # Set LEDs to printing-mode
  LINE_PURGE                                            # Primeline


[gcode_macro NOZZLE_WIPE]
gcode:
  {% set restore_position = params.RESTORE|default(0)|int %}
  {% set prev_x = printer.toolhead.position.x %}
  {% set prev_y = printer.toolhead.position.y %}
  {% set prev_z = printer.toolhead.position.z %}

  G90
  G1 X215 Y-3 Z5 F18000                    # Move nozzle to wiper position
  G1 X215 Y-3 Z0 F5000                     # lower to bucket

  # Init wiping
  G1 X179 Y-1 F1000
  G1 X215 Y-5 F1000
  G1 X179 Y-1 F1000
  G1 X215 Y-5 F1000
  G1 X179 Y-1 F1000

  # Finish wiping
  {% if restore_position == 1 %}
    G1 X{prev_x} Y{prev_y} Z{prev_z} F5000 # restore previous position
  {% else %}
    G1 X179 Y-1 Z5 F5000                   # rise nozzle again
  {% endif %}


[gcode_macro PURGE_LINE]
description: Prusa like line purge from X center
gcode:
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %} # bed x center
  {% set x_start = x_wait - 25|float %}
  
  G0 X{x_start} Y4 Z15 F10000                           # move away and ready for the purge
    
  G92 E0                                                # reset extruder position
  G1 E2 F2400                                           # deretraction after the initial one
  G0 X{x_start + 14} E5 Z0.2 F500                       # purge
  G0 X{x_start + 24} E4 F500                            # purge
  G0 X{x_start + 34} E4 F650                            # purge
  G0 X{x_start + 44} E4 F800                            # purge
  G0 X{x_start + 47} Z0.05 F8000                        # wipe, move close to the bed
  G0 X{x_start + 50} Z0.2 F8000                         # wipe, move quickly away from the bed

  G92 E0


[gcode_macro PRINT_END]
gcode:
  # Get Boundaries
  {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
  {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
  {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
  
  # Set safety margins (5% from edges)
  {% set x_margin = max_x * 0.05 %}
  {% set y_margin = max_y * 0.05 %}
  
  # Calculate safe parking positions
  {% set safe_x = x_margin %}               # 5% from X=0
  {% set safe_y = max_y - y_margin %}       # 5% from max Y
  
  # Check end position to determine safe directions to move
  {% if printer.toolhead.position.x < (max_x - 20) %}
      {% set x_safe = 20.0 %}
  {% else %}
      {% set x_safe = -20.0 %}
  {% endif %}

  {% if printer.toolhead.position.y < (max_y - 20) %}
      {% set y_safe = 20.0 %}
  {% else %}
      {% set y_safe = -20.0 %}
  {% endif %}

  {% if printer.toolhead.position.z < (max_z - 2) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - printer.toolhead.position.z %}
  {% endif %}

  # Commence END_PRINT
  M400                                                         # wait for buffer to clear
  G92 E0                                                       # zero the extruder
  G1 E-3.0 F1800                                               # retract
  G91                                                          # relative positioning
  G0 Z{z_safe} F3600                                           # move nozzle up
  M104 S0                                                      # turn off hotend
  M140 S0                                                      # turn off bed
  M106 S0                                                      # turn off fan
  M107                                                         # turn off part cooling fan
  G90                                                          # absolute positioning
  G1 X{safe_x} Y{safe_y} F2000                                 # move to safe front position

  # Safe Z-drop if near maximum height (after parking)
  {% if printer.toolhead.position.z > (max_z - 20) %}
    G91                                                        # relative positioning
    G1 Z-10 F600                                               # drop 10mm if near the top
    G90                                                        # back to absolute
  {% endif %}

  SET_DISPLAY_TEXT MSG="Print finished!!"                      # Displays info on LCD
  STATUS_PART_READY
  PROBE_EDGY_NG_SET_TAP_OFFSET VALUE=0
  BED_MESH_CLEAR
  UPDATE_DELAYED_GCODE ID=set_ready_status DURATION=60         # Schedule ready status
  {% if printer["output_pin nevermore"] is defined %}          # Conditional check for nevermore pin
    UPDATE_DELAYED_GCODE ID=turn_off_nevermore DURATION=120  # Schedule to check the nevermore status after 2 minutes
  {% endif %}
  UPDATE_DELAYED_GCODE ID=reset_printer_status DURATION=125    # Schedule reset status
  
  ;M84                                                        # Disable motors (currently disabled to allow idle timeout)


[delayed_gcode reset_printer_status]
gcode:
  SDCARD_RESET_FILE


[delayed_gcode turn_off_nevermore]
gcode:
  {% if not printer.idle_timeout.state == "Printing" %}
    SET_PIN PIN=nevermore VALUE=0  # Only turn off if not printing
  {% endif %}


[delayed_gcode set_ready_status]
gcode:
  STATUS_READY
